<div class="book-summary">
    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
                    {% endif %}
                <a href="{{site.baseurl}}/">
                    {{ site.title | escape }}
                </a>
            </li>

            <li class="divider"></li>

            <a href="{{ page.dir}}"></a>

            {% for category in site.categories %}

                <li class="chapter {% if category[0] == page.category %} active {% endif %}" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                    <a href="/category/{{ category | first | downcase }}">{{ category | first }} ({{ category | last | size }})</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
